.movie-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(0, -10%);

    @include respond(phone) {
        flex-direction: column;
    }
}

.movie-player {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;

    &__title {
        font-size: 2.5rem;
        text-align: center;
    }
    
    &__movie {
        &--watching {
            min-height: 100%;
            min-width: 100%;
            max-height: 100%;
            max-width: 100%;
        }
    
        &--not-watching {
            min-height: 100%;
            min-width: 100%;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &__torrents {
        color: $color-black;
        background-color: $color-white;
        width: 100%;

        &-info {
            text-align: center;
        }

        &-button {
            border: none;
        }
    }

    &__selected {
        color: $color-black;
        background-color: $color-grey-light-3;
    }
}

.movie-comments {
    display: flex;
    flex-direction: column;

    &__box {
        margin-bottom: 50px;
        height: 0px;
    }

    &__header {
        background-color: $color-grey-dark-1;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    &__area {
        width: 60%;
        padding: 5px;
    }

    &--small-pic {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            cursor: pointer;
        }

    &--container-user {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }

    &--comment-date {
        font-size: 10px;
        margin: auto;
        margin-left: 5px;
    }

    &--comment-username {
        color: $color-grey-light-4;
        cursor: pointer;
    }
}

.vid-bottom {
    position: fixed;
    bottom: 0;
  //  left: 1000px;
    right: 0;
    //right: 5%;
    z-index: 80000;
}

.video-small {
    width: 30%;
}

.small-x {
    position: absolute;
    right: 0;
}