.landing {
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-grey-dark-1, 0.7), 
        rgba($color-grey-dark-1, 0.7)), 
    url(../img/poster.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__langage {
        display: flex;
        justify-content: flex-end;

        &--fr {
            margin-left: .5rem;
        }

        &--en {
            margin-right: .5rem;
        }
    }

    &__heading {
        display: flex;
        font-weight: 100;
        justify-content: center;
        font-size: 7rem;
        text-transform: uppercase;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // center verticaly
}

input[type=checkbox] {
    z-index: 2;
    height: 2rem;
    width: 2rem;
    opacity: 0;
 }

.icon {
    margin-bottom: -2rem;
}

.card {
    order: -1;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    width: 30rem;

    &__side {
        height: 50rem;
        width: 100%;
        background-color: $color-white-tranparent;
        box-shadow: 0 1rem 5rem rgba(250, 248, 248, 0.3);
        transition: all 2s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 3px;
        -webkit-backface-visibility: hidden;
        

        &--front {
            background-color: $color-white-tranparent;
        }

        &--back {
            background-color: $color-white-tranparent;
            transform: rotateY(180deg);
        }
    }

    &__text {
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        text-transform: uppercase;
        height: 12rem;
        padding: 2rem;
        color: $color-white;
        background-color: $color-primary-light-2;
        width: 100%;
    }

    &__text-span {
        padding-left: 16rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        font-weight: 100;

        &--1 {
            background-image: linear-gradient(
            to right bottom, 
            rgba($color-primary-light-1, 0.5), 
            rgba($color-primary-dark, 0.5));
        }
    }

    &__form {
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;

        &--input {
            position: relative;
            display: flex;
            flex-direction: column;

            &-label {
                font-size: 1.3rem;
                color: $color-grey-dark-2;
            }

            &-input {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid 0.1rem $color-primary-light-2;
                opacity: 0.7;
            } 

            & input {
                line-height: 2.4rem;
            }

        }
    }

    &__newClient {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
        font-size: 1.6rem;
        color: $color-grey-dark-2;
    }
}

input[type=checkbox]:checked ~ div {    
    .card__side--front {
        transform: rotateY(180deg);
    }

    .card__side--back {
        transform: rotateY(0);
    }
}